/* styles.css */

/* Style for the AnchorPane */
.anchorpane {
    -fx-background-color: lightblue;
}
.foodname {
    -fx-background-color: lightblue;
}

/* Style for the second TextField */
.pricetext {
    -fx-background-color: lightgreen;
}

/* Style for the third TextField */
.categorytext {
    -fx-background-color: lightcoral;
}
/* styles.css */



